# Google Maps Platform Keys
GOOGLE_MAPS_API_KEY=cb1dbf37e0msh1606623b7b8a94fp122431jsn10f8aeaed74a

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyApTZ0f-i9-Ucr4q2rDADAodDPVxL2vBEE

# GNews API Key (or other news source)
GNEWS_API_KEY=cb1dbf37e0msh1606623b7b8a94fp122431jsn10f8aeaed74a

# General
ENV=development
DEBUG=True
